

<button class="regreso"> <a href="/"></a></button>

<div class="cuadro">
    <h2>Insertar Texto e Imágenes</h2>
    <form action="/" method="post" enctype="multipart/form-data">

        <label for="title" class="form-label">Ingresa el Titulo</label>
        <input type="text" class="form-control" id="title" name="title">

        <label for="texto">Texto:</label>
        <input type="text" id="texto" name="texto" required>
        
        <label for="imagen">Imagen:</label>
        <input type="text" id="imagen" name="imagen" accept="image/*" required>

        <input type="submit" value="Enviar">
    </form>
</div>