<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  FORO ARGENTINA PROGRAMA
    </title>

    <link rel="stylesheet"media="all" href="/animar titulo.css">
    <link rel="stylesheet"type="text/css" href="/style.css">
    

<!-- emcabezado del foro -->
</head>

<h1 class="titulo">FORO ARGENTINA PROGRAMA</h1>
<h2>CRUD</h2>

</head>
</body>
      <header> 
        <%- include("header") %>
      </header>
    
      <section>
        <%- include ("menu") %>
      </section>

     


     <%- include("animacion") %>

     <footer>
        <%- include ("footer") %>
     </footer>
     
    </body>   
</html>